# licitacion/.htaccess
RewriteEngine On

# La base es /PHP/licitacion/ no solo /licitacion/
RewriteBase /PHP/licitacion/

# Si el archivo o directorio no existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Configuraciones
Options -Indexes
DirectoryIndex index.php